{% extends 'common.html' %}

{% block title %}
    {{ title }}: {{ config['COIN_UNIT'] }}
{% endblock %}

{% block head %}
    <meta name="robots" content="noindex,nofollow"/>
    <link href="{{ url_for('.static', filename='login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <script defer src="https://captcha-api.yandex.ru/captcha.js?render=onload&onload=onloadFunction"></script>
    {% block content required %}{% endblock %}
    <script>
        function onloadFunction() {
            if (window.smartCaptcha) {
                const container = document.getElementById('captcha-container');

                const widgetId = window.smartCaptcha.render(container, {
                    sitekey: '{{ config["SMARTCAPTCHA_CLIENT_KEY"] }}',
                    hl: 'ru',
                });

            }
        }
    </script>
{% endblock %}