{% extends "login/base.html" %}

{% block content %}
    <main class="form-signin">
        <section class="text-center text-lg-start">
            <!-- Jumbotron -->
            <div class="container py-4">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card cascading-right jumbotron">
                            <div class="card-body login-card shadow-5 text-center">
                                <h2 class="fw-bold mb-5">Войти</h2>
                                <form action="" method="POST">
                                    {% with messages = get_flashed_messages(with_categories=True) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                <div class="alert alert-{{ category }}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    {{ form.hidden_tag() }}

                                    <div class="form-floating">
                                        {{ form.login(class="form-control", placeholder="Login") }}
                                        {{ form.login.label }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                {{ error }}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-floating my-2">
                                        {{ form.password(class="form-control", placeholder="Password") }}
                                        {{ form.password.label }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                {{ error }}<br>
                                            {% endfor %}
                                        </div>
                                        <div class="form-text text-start mb-3"><a class="link-secondary" href="{{ url_for('.reset_password') }}">Забыли или не знаете свой пароль?</a></div>
                                    </div>
                                    <div
                                            id="captcha-container"
                                            class="smart-captcha mb-4"
                                    ></div>
                                    {{ form.submit(type="submit", class="w-100 btn btn-lg btn-primary my-3") }}
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <img src="{{ url_for('.static', filename='login.png') }}"
                             class="w-100 rounded-3 shadow-lg login-image"
                             alt=""/>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
