{% extends "login/base.html" %}

{% block content %}
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

        <form action="" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% if login_message %}
                <div class="alert alert-danger" role="alert">
                    {{ login_message }}
                </div>
            {% endif %}
            {#            <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
            {{ form.hidden_tag() }}

            <div class="form-floating">
                {{ form.login(class="form-control", placeholder="Login") }}
                {{ form.login.label }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-floating">
                {{ form.password(class="form-control", placeholder="Password") }}
                {{ form.password.label }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            </div>

            <div class="checkbox mb-3">
                {{ form.remember_me() }} {{ form.remember_me.label }}
            </div>
            {{ form.submit(type="submit", class="w-100 btn btn-lg btn-primary") }}
        </form>
    </main>
{% endblock %}