{% extends "login/base.html" %}

{% block content %}
    <main class="form-signin">
        <section class="text-center text-lg-start">
            <!-- Jumbotron -->
            <div class="container py-4">
                <div class="card jumbotron">
                    <div class="card-body login-card shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Восстановить пароль</h2>
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <form action="" method="POST">
                            {{ form.hidden_tag() }}

                            <div class="form-floating my-2">
                                {{ form.email(class="form-control", placeholder="Email") }}
                                {{ form.email.label }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div
                                    id="captcha-container"
                                    class="smart-captcha mb-4"
                            ></div>
                            {{ form.submit(type="submit", class="w-100 btn btn-lg btn-primary my-3") }}
                        </form>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        Но я вообще ничего не помню/у меня не была указана почта!
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Пожалуйста, обратитесь к вашему классному руководителю.</strong> Он может восстановить ваш пароль.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
