{% extends 'common.html' %}

{% block title %}{{ title }} - {{ config.COIN_UNIT }}{% endblock %}
{% block head %}
    <meta name="Description"
          content="{{ config.COIN_UNIT }} - это школьная электронная валюта, направленная на мотивацию учеников образовательного центра &quot;Протон&quot;">

    <meta property="og:title" content="{{ title }} - {{ config.COIN_UNIT }}: школьная электронная валюта"/>
    <meta property="og:description"
          content="{{ config.COIN_UNIT }} - это школьная электронная валюта, направленная на мотивацию учеников образовательного центра &quot;Протон&quot;"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ config.COIN_UNIT }}: школьная электронная валюта"/>
    <meta property="og:url" content="https://coin.protonmos.ru{{ url_for(request.endpoint) }}"/>
    <meta property="og:image" content="https://coin.protonmos.ru/static/coin.webp"/>

    <link rel="stylesheet" href="{{ url_for("landing.static", filename="style.css") }}">

    <link rel="icon" href="https://coin.protonmos.ru/static/coin.webp" type="image/png">
    <link rel="manifest" href="https://coin.protonmos.ru/static/site.webmanifest">

    <meta name="yandex-verification" content="30666c916d54b7c3"/>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(90615182, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/90615182" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script defer src="{{ url_for("landing.static", filename="scripts.js", v='1.1') }}"></script>
    {% include 'landing/_header.html' %}
    <main class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} w-100" role="alert">
                        {{ message }}
                    </div><br>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="card mb-3">
            <div class="card-body">
                <h1 class="h4 mb-0">{{ title }}</h1>
            </div>
        </div>
        {% block content %}{% endblock %}
    </main>
    {% include 'landing/_footer.html' %}
{% endblock %}