{% extends "landing/base.html" %}

{% block content %}
    <div>
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                {% block account %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
