{% extends "account/account.html" %}
{% block account_tab %}
    <div class="row">
        <div class="col">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.criteria_id.label }}
                            {{ form.criteria_id(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.comment.label }}
                            {{ form.comment(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.file.label }}
                            {{ form.file(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col d-flex justify-content-end">
                        {{ form.submit(type="submit", class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}