{% extends "account/account.html" %}
{% block account_tab %}
    <a class="btn btn-primary mb-4" href="{{ url_for(".declare_achievement") }}" role="button">Заявить о
        достижении</a>

    <h5>Списания</h5>
    <div class="table-responsive">
        <table class="table table-striped table-sm" data-toggle="table"
               data-pagination="true"
               data-search="true" data-show-columns="true" data-locale="ru-RU"
               data-show-refresh="true">
            <thead>
            <tr>
                <th data-sortable="true">Количество</th>
                <th data-sortable="true">Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% for withdraw in withdraws %}
                <tr>
                    <td class="text-danger">-{{ withdraw.amount }}</td>
                    <td>{{ withdraw.comment }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <h5>Начисления</h5>
    <div class="table-responsive">
        <table class="table table-striped table-sm" data-toggle="table"
               data-pagination="true"
               data-search="true" data-show-columns="true" data-locale="ru-RU"
               data-show-refresh="true">
            <thead>
            <tr>
                <th data-sortable="true">Количество</th>
                <th data-sortable="true">Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% for accrual in accruals %}
                <tr>
                    <td class="text-success">+{{ accrual.amount }}</td>
                    <td>{{ accrual.comment }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}