{% extends "landing/base.html" %}

{% block content %}
    <div>
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div><img class="img-fluid img-thumbnail"
                                                  style="object-fit: contain; width: 140px; height: 140px"
                                                  src="{{ current_user.avatar_path }}"></div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ current_user.full_name }}</h4>
                                            <p class="mb-0">{{ current_user.login }}</p>
                                            <div class="text-muted"><small>{{ current_user.balance.amount }}
                                                <img src="/static/coin.webp" width="16px"> {{ config.COIN_UNIT }}
                                                на балансе</small></div>
                                            <form action="" method="POST" enctype="multipart/form-data"
                                                  id="avatar_form">
                                                {{ form_avatar.hidden_tag() }}
                                                <div class="mt-2">
                                                    <button class="btn btn-primary" type="button", id="btnupload">
                                                        <i class="fa fa-fw fa-camera"></i>
                                                        <span>Сменить фотографию профиля</span>
                                                    </button>
                                                    {{ form_avatar.image(style="display: none", id="inpupload") }}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="{{ url_for(".index") }}"
                                                            class="nav-link{% if url_for(request.endpoint) == url_for(".index") %} active{% endif %}"><span data-feather="settings" class="me-2"></span>Настройки</a>
                                    </li>
                                    <li class="nav-item"><a href="{{ url_for(".transactions") }}"
                                                            class="nav-link{% if url_for(request.endpoint) == url_for(".transactions") %} active{% endif %}"><span data-feather="dollar-sign" class="me-2"></span>Транзакции</a>
                                    </li>
                                    <li class="nav-item"><a href="{{ url_for(".achievements") }}"
                                                            class="nav-link{% if url_for(request.endpoint) == url_for(".achievements") %} active{% endif %}"><span data-feather="award" class="me-2"></span>Достижения</a>
                                    </li>
                                </ul>

                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        {% block account_tab %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document.body).ready(function () {
                    let allowed_mime_types = ['image/jpeg', 'image/png'];
                    $("#btnupload").click(function () {
                        $("#inpupload").trigger("click");
                    });
                    $("#inpupload").change(function () {
                        let input = $("#inpupload")[0]
                        if (input.files.length == 1) {
                            let file = input.files[0]
                            if (allowed_mime_types.indexOf(file.type) == -1) {
                                alert('Неправильный формат файла.');
                                return;
                            }
                            $("#avatar_form").submit();
                        }
                    });
                });
            </script>
{% endblock %}