{% extends "landing/base.html" %}

{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table-locale-all.min.js"></script>
    <div>
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div><img class="img-fluid img-thumbnail"
                                                  style="object-fit: contain; width: 140px; height: 140px"
                                                  src="{{ current_user.avatar_path }}"></div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ current_user.full_name }}</h4>
                                            <p class="mb-0">{{ current_user.login }}</p>
                                            <div class="text-muted"><small>{{ current_user.balance.amount }}  <img src="/static/coin.png" style="height: 16px;"> {{ config.COIN_UNIT }}
                                                на балансе</small></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="{{ url_for(".index") }}"
                                                            class="nav-link">Настройки</a></li>
                                    <li class="nav-item"><a href="{{ url_for(".transactions") }}"
                                                            class="active nav-link">Транзакции</a></li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <a class="btn btn-primary mb-4" href="{{ url_for(".declare_achievement") }}" role="button">Заявить о достижении</a>

                                        <h5>Списания</h5>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-sm" data-toggle="table"
                                                   data-pagination="true"
                                                   data-search="true" data-show-columns="true" data-locale="ru-RU"
                                                   data-show-refresh="true">
                                                <thead>
                                                <tr>
                                                    <th data-sortable="true">Количество</th>
                                                    <th data-sortable="true">Комментарий</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for withdraw in withdraws %}
                                                    <tr>
                                                        <td class="text-danger">-{{ withdraw.amount }}</td>
                                                        <td>{{ withdraw.comment }}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                        <h5>Начисления</h5>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-sm" data-toggle="table"
                                                   data-pagination="true"
                                                   data-search="true" data-show-columns="true" data-locale="ru-RU"
                                                   data-show-refresh="true">
                                                <thead>
                                                <tr>
                                                    <th data-sortable="true">Количество</th>
                                                    <th data-sortable="true">Комментарий</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for accrual in accruals %}
                                                    <tr>
                                                        <td class="text-success">+{{ accrual.amount }}</td>
                                                        <td>{{ accrual.comment }}</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}