{% extends "admin/base.html" %}

{% block content %}
    <form action="" method="POST">
        {% if edit_message %}
            <div class="alert alert-danger" role="alert">
                {{ edit_message }}
            </div>
        {% endif %}
        {{ form.hidden_tag() }}

        {{ form.from_balance_id.label }}
        <div class="form-floating">
            {{ form.from_balance_id(class="form-control ", placeholder="From") }}
            <div class="invalid-feedback">
                {% for error in form.from_balance_id.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        {{ form.to_balance_id.label }}
        <div class="form-floating">
            {{ form.to_balance_id(class="form-control", placeholder="To") }}
            <div class="invalid-feedback">
                {% for error in form.to_balance_id.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="form-floating">
            {{ form.amount(class="form-control", placeholder="Amount") }}
            {{ form.amount.label }}
            <div class="invalid-feedback">
                {% for error in form.amount.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="form-floating">
            {{ form.comment(class="form-control", placeholder="Group") }}
            {{ form.comment.label }}
            <div class="invalid-feedback">
                {% for error in form.comment.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        {{ form.submit(type="submit", class="w-100 btn btn-lg btn-primary") }}
    </form>

    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $('#from_balance_id').select2({
                ajax: {
                    url: '/api/v1/users/select',
                    dataType: 'json'
                    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                }
            });
            $('#to_balance_id').select2({
                ajax: {
                    url: '/api/v1/users/select',
                    dataType: 'json'
                    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
                }
            });
        });
    </script>
{% endblock %}