{% extends 'common.html' %}

{% block title %}{{ title }}: Администрирование {{ config['COIN_UNIT'] }}{% endblock %}

{% block head %}
    <meta name="robots" content="noindex,nofollow"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
    <link href="{{ url_for('manage.static', filename='dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ url_for("landing.index") }}">{{ common_macros.coin(size=32) }}</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ url_for("login.logout") }}">Выйти из аккаунта</a>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            {% include 'manage/_nav.html' %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ title }}</h1><br>
                </div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} w-100" role="alert">
                                {{ message }}
                            </div><br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
{% endblock %}