<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow"/>
    <title>{{ title }}: Администрирование {{ settings.COIN_UNIT }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link href="{{ url_for('admin.static', filename='dashboard.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table-locale-all.min.js"></script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ url_for("admin.index") }}">Админская панель</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url_for("login.logout") }}">Выйти из аккаунта</a>
        </li>
    </ul>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.index") }}">
                            <span data-feather="home"></span>
                            Главная страница
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.users.index") }}">
                            <span data-feather="users"></span>
                            Пользователи
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.groups.index") }}">
                            <span data-feather="folder"></span>
                            Классы
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.transactions.index") }}">
                            <span data-feather="user-minus"></span>
                            Транзакции
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.gifts.index") }}">
                            <span data-feather="gift"></span>
                            Подарки
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.basises.index") }}">
                            <span data-feather="anchor"></span>
                            Основания
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.criterias.index") }}">
                            <span data-feather="award"></span>
                            Критерии
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.orders.index") }}">
                            <span data-feather="truck"></span>
                            Заказы
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("admin.achievements.index") }}">
                            <span data-feather="dollar-sign"></span>
                            Достижения
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{ title }}</h1><br>
            </div>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} w-100" role="alert">
                            {{ message }}
                        </div><br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}

        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script>
    feather.replace()
</script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.0/dist/bootstrap-table-locale-all.min.js"></script>
</body>
</html>