{% extends "admin/base.html" %}

{% block content %}
    <h5>Заказы, ожидающие обработки</h5>
    <p class="fw-bold">Напоминание: отмена заказа не возвращает единицу товара на остаток. Если заказ пришлось отменить НЕ из-за
        отсутствия товара, нужно добавить товар на остаток вручную!!!</p>
    <div class="table-responsive">
        <table id="orderList" class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Подарок</th>
                <th>Статус</th>
                <th>ФИО и класс заказчика</th>
                <th>Дата заказа</th>
                <th>Действия</th>
            </tr>
            </thead>
        </table>
    </div>
    <script type="module" src="{{ url_for('.static', filename='orders.js') }}"></script>
{% endblock %}