{% extends "landing/base.html" %}

{% block content %}
    <div class="album py-2 rounded bg-light">
        <div class="container mb-3">
            <div class="row">
                <div class="col-6">
                    <label for="orderBySelect" class="form-label">Сортировка:</label>
                    <select id="orderBySelect" class="form-select">
                        {% for key, value in order_by.items() %}
                            {% if key == order_by_current %}
                                <option selected value="{{ key }}">{{ value[0] }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value[0] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for gift in gifts %}
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="{{ gift.image_file }}" class="card-img-top gift_image" alt="Gift image">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ gift.name }}</h5>
                                <p class="card-text">{{ gift.description|safe }}</p>
                                <div class="d-flex justify-content-between align-items-center mt-auto">
                                    <div class="btn-group">
                                        {% if gift.in_stock %}
                                        <a class="btn btn-sm btn-primary" href="{{ url_for(".buy", gift_id=gift.id) }}"
                                           role="button">Купить</a>
                                        {% else %}
                                            <button type="button" class="btn btn-sm btn-secondary" disabled>Нет в наличии :(</button>
                                        {% endif %}
                                    </div>
                                    <small class="text-right">{{ gift.price }}
                                        {{ common_macros.coin() }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}