{% extends "admin/base.html" %}

{% block content %}
    <div class="d-flex justify-content-end">
        <a href="{{ url_for("admin.basises.create_basis") }}" class="btn btn-primary" role="button" data-toggle="button">Создать
            основание</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm" data-toggle="table" data-pagination="true"
               data-search="true" data-show-columns="true" data-locale="ru-RU" data-show-refresh="true">
            <thead>
            <tr>
                <th data-sortable="true" data-field="id">ID</th>
                <th data-sortable="true">Наименование</th>
            </tr>
            </thead>
            <tbody>
            {% for basis in basises %}
                <tr>
                    <td>{{ basis.id }}</td>
                    <td>{{ basis.name }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
{% endblock %}