{% extends "admin/base.html" %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% if edit_message %}
            <div class="alert alert-danger" role="alert">
                {{ edit_message }}
            </div>
        {% endif %}
        {{ form.hidden_tag() }}

        <div class="form-floating">
            {{ form.criteria(class="form-control", placeholder="Criteria") }}
            {{ form.criteria.label }}
            <div class="invalid-feedback">
                {% for error in form.criteria.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="form-floating">
            {{ form.file(class="form-control", placeholder="Table File") }}
            {{ form.file.label }}
            <div class="invalid-feedback">
                {% for error in form.file.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="form-floating">
            {{ form.comment(class="form-control", placeholder="comment") }}
            {{ form.comment.label }}
            <div class="invalid-feedback">
                {% for error in form.comment.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        {{ form.submit(type="submit", class="w-100 btn btn-lg btn-primary") }}
    </form>{% endblock %}