{% extends 'account/_account_card.html' %}

{% block account %}
    <div class="row">
        <div class="col-12 col-sm-auto mb-3">
            {{ common_macros.avatar(current_user, size=140, class='img-fluid img-thumbnail rectangle-avatar',
             remove_default_class=True) }}
        </div>
        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
            <div class="text-center text-sm-left mb-2 mb-sm-0">
                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ current_user.full_name }}</h4>
                <p class="mb-0">{{ current_user.login }}</p>
                <div class="text-muted"><small>{{ current_user.balance.amount }}
                    {{ common_macros.coin() }}
                    на балансе</small></div>
                <form action="" method="POST" enctype="multipart/form-data"
                      id="avatar_form">
                    {{ form_avatar.hidden_tag() }}
                    <div class="mt-2">
                        <button class="btn btn-primary" type="button" id="btnupload">
                            <i class="bi bi-camera-fill me-2"></i>
                            <span>Сменить фотографию профиля</span>
                        </button>
                        {{ form_avatar.image(style="display: none", id="inpupload") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="{{ url_for(".index") }}"
                                class="nav-link{% if url_for(request.endpoint) == url_for(".index") %} active{% endif %}"><i
                class="bi bi-gear-fill h6 me-2"></i>Настройки</a>
        </li>
        <li class="nav-item"><a href="{{ url_for(".transactions") }}"
                                class="nav-link{% if url_for(request.endpoint) == url_for(".transactions") %} active{% endif %}"><i
                class="bi bi-currency-dollar h6 me-2"></i>Транзакции</a>
        </li>
        <li class="nav-item"><a href="{{ url_for(".achievements") }}"
                                class="nav-link{% if url_for(request.endpoint) == url_for(".achievements") %} active{% endif %}"><i
                class="bi bi-award-fill h6 me-2"></i>Достижения</a>
        </li>
        <li class="nav-item"><a href="{{ url_for(".orders") }}"
                                class="nav-link{% if url_for(request.endpoint) == url_for(".orders") %} active{% endif %}"><i
                class="bi bi-box-fill h6 me-2"></i>Заказы</a>
        </li>
    </ul>

    <div class="tab-content pt-3">
        <div class="tab-pane active">
            {% block account_tab %}{% endblock %}
        </div>
    </div>
{% endblock %}
