{% extends "account/account.html" %}
{% block account_tab %}
    <div class="row">
        <div class="col">
            <p class="text-secondary"><b>*</b> - необходимые поля</p>
            <form action="" method="POST" enctype="multipart/form-data" id="achievement-form">
                {{ form.hidden_tag() }}
                {{ form.do_not_redirect() }}
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.criteria_id.label }}
                            {{ form.criteria_id(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group">
                            {{ form.comment.label }}
                            {{ form.comment(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group">
                            {{ form.file.label }}
                            {{ form.file(class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col d-flex justify-content-end">
                        {{ form.submit_button(type="submit", class="btn btn-primary me-2") }}
                        <button type="button" class="btn btn-secondary" onclick="submitWithDoNotRedirect()">Отправить и
                            добавить ещё одно достижение
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
