{% extends "account/account.html" %}
{% block account_tab %}
    <h5>Заказы</h5>
    <div class="table-responsive">
        <table class="table table-striped table-sm" data-toggle="table" data-pagination="true" data-locale="ru-RU">
            <thead>
            <tr>
                <th data-sortable="true">ID</th>
                <th data-sortable="true">Подарок</th>
                <th data-sortable="true">Статус</th>
                <th data-sortable="true">Действие</th>
            </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.gift.name }}</td>
                        <td>{{ order.status_translation }}</td>
                        <td>{% if order.cancellation_available %}<a href="{{ url_for(".cancel_order", order_id=order.id) }}" role="button" class="btn btn-sm btn-danger">Отменить</a>{% endif %}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
