{% extends "admin/base.html" %}

{% block content %}
    <form action="" method="POST">
        {% if edit_message %}
            <div class="alert alert-danger" role="alert">
                {{ edit_message }}
            </div>
        {% endif %}
        {{ form.hidden_tag() }}

        <div class="form-floating">
            {{ form.name(class="form-control", placeholder="Name") }}
            {{ form.name.label }}
            <div class="invalid-feedback">
                {% for error in form.name.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="form-floating">
            {{ form.basis_id(class="form-control", placeholder="Basis") }}
            {{ form.basis_id.label }}
            <div class="invalid-feedback">
                {% for error in form.basis_id.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="form-floating">
            {{ form.cost(class="form-control", placeholder="Cost") }}
            {{ form.cost.label }}
            <div class="invalid-feedback">
                {% for error in form.cost.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        </div>
        <div class="checkbox mb-3">
            {{ form.is_user_achievable() }} {{ form.is_user_achievable.label }}
        </div>
        {{ form.submit(type="submit", class="w-100 btn btn-lg btn-primary") }}
    </form>{% endblock %}
